<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="NLayersApp.Authorization" value="https://pkgs.dev.azure.com/cherkaouimouad/NLayersApp.Authorization/_packaging/NLayersApp.Authorization/nuget/v3/index.json"/>
    <add key="NLayersApp.Persistence" value="https://pkgs.dev.azure.com/cherkaouimouad/NLayersApp.Persistence/_packaging/NLayersApp.Persistence/nuget/v3/index.json" />
    <add key="NLayersApp.Controllers" value="https://pkgs.dev.azure.com/cherkaouimouad/NLayersApp.Controllers/_packaging/NLayersApp.Controllers/nuget/v3/index.json" />
    <add key="NLayersApp.CQRS" value="https://pkgs.dev.azure.com/cherkaouimouad/NLayersApp.CQRS/_packaging/NLayersApp.CQRS/nuget/v3/index.json" />
  </packageSources>
</configuration>