<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c9221525-4c3b-46b4-82cc-c7ca67be6fcb/resourcegroups/NLayersApp-demos/providers/Microsoft.ContainerRegistry/registries/nlayersapp</ResourceId>
    <ResourceName>nlayersapp</ResourceName>
    <ResourceGroup>NLayersApp-demos</ResourceGroup>
    <Subscription>Microsoft Partner Network</Subscription>
    <RegistryUrl>https://nlayersapp.azurecr.io</RegistryUrl>
    <UserName>nlayersapp</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e1d1f763-d457-442a-9433-ff7dda219f4f</ProjectGuid>
  </PropertyGroup>
</Project>